<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>

<h2 th:text="'Owners list'"></h2>

<table class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 200px;">First name</th>
        <th style="width: 120px;">Second name</th>
    </tr>
<tr th:each="owner: ${owners}">
    <td th:text="${owner.id}">ID</td>
    <td th:text="${owner.firstName}">Title</td>
    <td th:text="${owner.lastName}">Publisher</td>
</tr>
</table>

</body>
</html>