<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>

<h2 th:text="'List of vets'"></h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Second name</th>
    </tr>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet.id}">ID</td>
        <td th:text="${vet.firstName}">Title</td>
        <td th:text="${vet.lastName}">Publisher</td>
    </tr>
</table>

</body>
</html>